# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# === GENERAL ===
node_modules/
.DS_Store
.env
*.env.local

# === FRONTEND (giftory) ===
giftory/node_modules/
giftory/dist/
giftory/build/

# === BACKEND (Django) ===
# Ignorar archivos compilados de Python
**/__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (MUY IMPORTANTE: no queremos subir los GB de la librería de Python)
venv/
env/
.venv/

# Base de datos local (SQLite)
# Generalmente en desarrollo usas db.sqlite3, no se debe subir para que no sobreescriba la de otros
*.sqlite3

# Archivos estáticos y media cargada por usuarios
backend/static/
backend/media/

# Logs de Django
*.log

# Configuraciones de editores
.vscode/
.idea/